.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Grupo_1 {
	position: absolute;
	width: 138.809px;
	height: 84.839px;
	left: 37.338px;
	top: 55.377px;
	overflow: visible;
}
#Trazado_3 {
	fill: rgba(255,255,255,1);
}
.Trazado_3 {
	overflow: visible;
	position: absolute;
	width: 138.808px;
	height: 84.839px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_4 {
	fill: rgba(255,255,255,1);
}
.Trazado_4 {
	overflow: visible;
	position: absolute;
	width: 14.107px;
	height: 16.952px;
	left: 77.049px;
	top: 11.836px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_4 {
	fill: rgba(121,197,230,1);
}
.Rectngulo_4 {
	position: absolute;
	overflow: visible;
	width: 134.126px;
	height: 56.767px;
	left: 1040.676px;
	top: 97.508px;
}
#INICIO {
	left: 1066.276px;
	top: 114.933px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(227,190,50,1);
}
#Grupo_13 {
	position: absolute;
	width: 1214.48px;
	height: 1090.002px;
	left: -26.525px;
	top: 0px;
	overflow: visible;
}
#Grupo_11 {
	position: absolute;
	width: 1214.48px;
	height: 1090.002px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#img_migue_snchez {
	position: absolute;
	width: 608px;
	height: 602px;
	left: 176px;
	top: 302px;
	overflow: visible;
}
#Rectngulo_5 {
	fill: rgba(0,0,0,0);
	stroke: rgba(121,197,230,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectngulo_5 {
	position: absolute;
	overflow: visible;
	width: 233.521px;
	height: 58.767px;
	left: 1399.037px;
	top: 971.12px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: quienes_somos.html;
	cursor: pointer;
}
#VER_MAS {
	left: 1458.031px;
	top: 988.545px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: quienes_somos.html;
	cursor: pointer;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: MyriadPro-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(121,197,230,1);
}
#MIGUEL_SANCHEZ {
	left: 1239px;
	top: 736.861px;
	position: absolute;
	overflow: visible;
	width: 522px;
	white-space: nowrap;
	line-height: 78px;
	margin-top: -6.5px;
	text-align: left;
	font-family: MyriadPro-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 65px;
	color: rgba(121,197,230,1);
}
#ING_MULTIMEDIA {
	left: 1310px;
	top: 812.645px;
	position: absolute;
	overflow: visible;
	width: 380px;
	white-space: nowrap;
	line-height: 57px;
	margin-top: -4.5px;
	text-align: left;
	font-family: MyriadPro-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(247,210,41,1);
}
#Nuestro_equipo_esta_dispuesto_ {
	left: 1257px;
	top: 909.351px;
	position: absolute;
	overflow: visible;
	width: 486px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -2px;
	text-align: left;
	font-family: MyriadPro-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(121,197,230,1);
}
#QUIENES_SOMOS {
	left: 1214.038px;
	top: 114.933px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: quienes_somos.html;
	cursor: pointer;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: MyriadPro-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#SERVICIOS {
	left: 1488.03px;
	top: 114.933px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: servicios.html;
	cursor: pointer;
	line-height: 36px;
	margin-top: -3px;
	text-align: left;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#CONTACTOS {
	left: 1658.158px;
	top: 114.933px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: contactos.html;
	cursor: pointer;
	line-height: 35px;
	margin-top: -3px;
	text-align: left;
	font-family: MyriadPro-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(0,0,0,1);
}
#Lnea_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_3 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 34.87px;
	left: 1198.5px;
	top: 112.63px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_4 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_4 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 34.87px;
	left: 1462.5px;
	top: 112.63px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_5 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_5 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 34.87px;
	left: 1638.5px;
	top: 112.63px;
	transform: matrix(1,0,0,1,0,0);
}